{{>navegacionEstudiante}}

<style>
    .card {
        border-radius: 10px;
        overflow: auto;
        width: 100%;
    }

    .grupito {
        display: flex;
        flex-wrap: wrap;

    }
</style>


<div class="container pt-4">
    <h2 class="m-4"> Perfil estudiante
    </h2>
    <div class="grupito mb-5 pb-5">



        <div class="card m-1 text-body">
            <div class="card-body">
                <div class="card-text">
                    <div class="media">
                        <img src="/uploads/{{estudiante.rutaImg}}" width="80px" height="80px"
                            class="align-self-start mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">{{estudiante.nombreUsuario}} {{estudiante.apellidoUsuario}}</h5>
                            <p>Edad: 15 <br> 
                            Semestre: {{estudiante.semestreEstudiante}}<br>
                            Correo personal: {{estudiante.correoUsuario}}<br>
                            Teléfono: {{estudiante.telefonoUsuario}}<br>
                            Direcciíon: {{estudiante.direccionUsuario}}<br>
                             </p>

                            <br>
                            <p>
                                <h5 class="mt-0">Descripción</h5>
                                {{estudiante.descripcionPersonalizada}}
                            </p>
                            <a href="/estudiante/editarPerfil"><button class="btn btn-danger mt-3">Editar</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-1 text-body">
            <div class="card-body">
                <div class="card-text">
                    <h5 class="mt-0">Mi contrato</h5>
                    <h3>Cerrejón</h3>
                    <p>Inicia en: 27/34/2025 <br> Termina en: 24/23/2028 </p>
                </div>
            </div>
        </div>
         <h3 class="m-4">Informes</h3>
        {{#each rowsInformes}}
        <div class="card m-1 text-body">
            <div class="card-body">
                <div class="card-text">
                    <h5 class="mt-0">{{nombreInforme}}</h5>
                    <small>fecha subida: {{fechaSubida}}</small> |
                    <small>comentarios: 0</small>
                    <a href="/estudiante/informe/{{pkIdInforme}}"><button class="btn btn-danger mt-3">Abrir</button></a>
                </div>
            </div>
        </div>
        {{/each}}


        <a href="/estudiante/agregarInforme"><button class="btn btn-danger mt-3 ml-2"><i
                    class="material-icons align-middle">add</i> Agregar informe</button></a>



    </div>











</div>
<!--fin container-->